/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: #fefaee;
  --color-light-yellow: #fcd68b;
  --color-dark: #171717;
  --color-dark-purple: #9c356d;
  --color-dark-orange: #f9784c;
  --font-sans: "Montserrat", system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", system-ui, sans-serif;
}

.gradient-text {
  background: linear-gradient(
    170deg,
    #fefaee 5.26%,
    #fcd68b 29.9%,
    #f9784c 53.25%,
    #9c356d 72.94%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
